{% extends 'base.html' %}

{% block title %}
<title>Bank Home</title>
{% endblock %}

{% block content %}
    <h1>Bank</h1>
    <h2>Your biometric fingerprint is now affiliated with Bankers Bank!</h2>
    <p>
        Users are more likely to give their biometric signatures to facilities such as banks and insurance companies.
        This ensures greater security and ease of use, as password misuse and false identification are mitigated.
    </p>
    <h3>
        However, if the entity responsible for saving and storing the users' biometric templates were to be attacked,
        the users are put at a much greater risk.
    </h3>
    <p>
        As noted on the <a href={% url 'restaurant:index_restaurant' %}>Restaurant site</a>, the biometric template is
        created based on the unique identifiers of the user. This makes it where the targeted attack of one database could
        potentially result in users becoming vulnerable within all other databases their templates are stored.<br>
        Even if hashed, the biometric template becomes vulnerable to rainbow-table-attacks due to its remaining
        the same in all other databases that make use same hash function.
    </p>
    <h2>It is for this reason that each organization must have a unique salt for hashing the collected biometric templates.</h2>
    <p>By giving each organization their own designated salt variable, the ability for attackers to compare templates
        across databases decreases. This also protects users by granting some anonymity across databases due to their
        biometric trait being registered into various hashed results.
    </p>
    <a role="button" class="btn btn-success" href="{% url 'biometrics:index-biometrics' %}">biometrics <i class="bi bi-fingerprint"></i></a>
    <a role="button" class="btn btn-primary" href="{% url 'restaurant:index_restaurant' %}">Restaurant<i class="bi bi-fork-knife"></i></a>
    <a role="button" class="btn btn-primary" href="{% url 'federal:register_federal'%}">State Registration <i class="bi bi-bank2"></i></a>
{% endblock %}

{% block script %}

{% endblock %}