{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}
<title>Bank Log-in</title>
{% endblock %}

{% block content %}
    <h1>Welcome Back To Bankers Bank</h1>
    <form action="{% url 'bank:login_bank' %}" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Log in</button>
        <a class="mx-3" href="{% url 'bank:register_bank' %}">Register Today</a>
    </form>

{% endblock %}

{% block script %}
{##}
{% endblock %}